extend layouts/blank

block body
  .document
    .gap.flex.flex-center.flex-between
      image.me(src='sqme' alt="Alvaro Cabrera" width=260 height=260)
      div
        p Hi, I'am #[b ALVADUB] (self-taught musician and software developer, beep-boop-bop!), and I want to share with you the music I made with &lt;3
        p I am living at Guadalajara Jalisco, but my hometown is #[a(href='https://es.wikipedia.org/wiki/San_Lorenzo_Acopilco') San Lorenzo Acopilco], a small place on the south-west mountains of Mexico City.
        p: small.dimmed BTW, my fullname is #[b Alvaro Cabrera Durán] and I am 36 yo!
    != yield

    ul.music-links
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span THOUGHTS &mdash; 128 BPM / Bm % % A6 (vocals by Julia Kleijn)
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span PRAISES &mdash; 128 BPM / Cm Bdim
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span DANCING &mdash; 132 BPM / Fm7 Ebm7
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span YEARS &mdash; 120 BPM / Cm Dm
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span TONES &mdash; 99 BPM / Cmaj7 D Em Bm / Am D Em %
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span COLORS &mdash; 99 BPM / Cm Bdim
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span MIND &mdash; 110 BPM / G % % Eb
      li.flex
        a(href='https://www.dropbox.com/scl/fi/txk8xkmvswqactqko7oi9/BODY-10.4.wav?rlkey=sthyy9uus6jfr508yiz5i64fy&dl=1') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span BODY &mdash; 110 BPM / Gm % % Adim
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span LIKES &mdash; 156 BPM / Dm % Bbdim %
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span DISLIKES &mdash; 156 BPM / D % Bdim %
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span UPPER &mdash; 133 BPM / C % Gm F
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span LOWER &mdash; 133 BPM / Cm % Eb Fm
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span BREATHING &mdash; 120 BPM / Em Bm F %
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span TOMORROW &mdash; 152 BPM / Fm % % Gm
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span WARRIOR TIME &mdash; 142 BPM / Fm Bb
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span DISTANT TRONE &mdash; 125 BPM / Bb % % Fm
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span MELODIC KILLER &mdash; 148 BPM / Am Abdim
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span REGGAE AGAIN &mdash; 110 BPM / Bbm Edim
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span MY SINS &mdash; 120 BPM / Ebm Bb
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span ELECTRIC &mdash; 131 BPM / Gm Eb
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span GANJAMAN &mdash; 132 BPM / Bm % % Bbdim
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span HIGHTECH &mdash; 126 BPM / Gm Gbdim
      li.flex
        a(href='https://dropbox.com') WAV #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') MP3 #[icon(src='#download' size=16)]
        a(href='https://dropbox.com') ZIP #[icon(src='#download' size=16)]
        span SUNRIDER &mdash; 130 BPM / Bbm F

    p #[b WAV] is high-quality audio file (between 10-11 LUFS), ideal for Sound System playback and vast majority of speakers/headphones with enough BASS support.
    p #[b MP3] is the compressed version of original WAV audio files, with a high bitrate to keep a good quality level (around ~6MB each).
    p #[b ZIP] contains the WAV audio files of the original track (stems) ready to be remixed in your DAW or multi-track player.

    .gap.flex.flex-center
      p
        small.dimmed For now, I am using 12 channels or less and most tracks' length is ~3 min.
        br
        br
        small.dimmed.
          Longer files and/or custom versions would require some time and money, just reach me
          at #[a(href='mailto:yo@soypache.co') yo@soypache.co] with your request.
        br
        br
        small.dimmed.
          If you're looking for some pictures and logos for media usage just download the
          following file: #[a(href='https://dropbox.com') ALVADUB_MediaKit.zip #[icon(src='#download' size=16)]]
        br
        br
        | Thank you!

      image.logo(src='ALVADUB_VINYL_v2' alt='ALVADUB' width=260 height=260)
