@import '../../lib/styles/vars';
@import '../../lib/styles/layout';
@import '../../lib/styles/helpers';

body {
  background-color: black;
  color: white;
}

a { color: #A5B231; }
h2 { margin-top: 50px; }

.music-links {
  li {
    gap: .5em;
    display: flex;
  }
  li + li {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed gray;
  }
  span { color: gray; }
  svg { fill: currentColor; }
  a:hover ~ span {
    color: white;
    text-decoration: underline;
  }
}

.document {
  padding: 20px;
  max-width: 800px;
  margin: 50px auto;
}

.dimmed {
  color: gray;
}

.logo {
  filter: invert(1);
}

.me {
  border-radius: 50%;
}
