.none { text-decoration: none; }

.clip {
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.center { text-align: center; }
.fit { max-width: 100%; }

.p { padding: @padding; }
.m { margin: @margin; }

.mxa {
  margin-left: auto;
  margin-right: auto;
}

.notype { list-style-type: none; }
.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }

.reset {
  padding: 0;
  margin: 0;
}

.icon {
  width: 20px;
  height: 20px;

  &.-x2 {
    width: 50px;
    height: 50px;
  }

  &.-x3 {
    width: 90px;
    height: 90px;
  }
}
