doctype html
html
  head
    include ../partials/head

    block styles
      link(rel='stylesheet' type='text/css' href='styles/media.css')

  body
    import(from='sprites.svg')

    block body

    resources

    block scripts
