localhost {
  root www
  ext .md .html
  browse /resources
  fastcgi /analytics /run/php/php7.0-fpm.sock
  templates
  markdown {
    js resources/scripts.js
    css resources/styles.css

    template ./templates/.www
  }
  errors {
    404 templates/.404
    500 templates/.50x
    502 templates/.50x
  }
  status 404 /templates
}
