extend layouts/default

block styles
  |{{- range .Styles}}
  link(rel='stylesheet' href='{{.}}')
  |{{- end}}

block meta
  meta(property='og:title' content='{{.Doc.title}}')

block head
  title {{.Doc.title}}

block body
  |{{if .Doc.icon}}
  svg.icon.-x3: use(xlink:href='#x-{{.Doc.icon}}')
  |{{end}}

  .auto-format {{.Doc.body}}

block scripts
  |{{- range .Scripts}}
  script(src='{{.}}')
  |{{- end}}
